<!--This file is a mock-up of how our patch panel overview could look-->
<HTML> 
<TITLE></TITLE> 
<BODY> 
<H1>Juniper LAB - Dashboard</H1> 
<BR> 
</style>
</head>
<body>
<table border="1" style="width:100%">
  <tr> 
    <th> </th> 
    <th>port 0</th> 
    <th>port 1</th> 
    <th>port 2</th> 
    <th>port 3</th> 
    <th>port 4</th> 
    <th>port 5</th> 
    <th>port 6</th> 
    <th>port 7</th> 
    <th>port 8</th> 
    <th>port 9</th> 
    <th>port 10</th> 
    <th>port 11</th> 
    <th>port 12</th> 
    <th>port 13</th> 
    <th>port 14</th> 
    <th>port 15</th> 
    <th>port 16</th> 
    <th>port 17</th> 
    <th>port 18</th> 
    <th>port 19</th> 
    <th>port 20</th> 
    <th>port 21</th> 
    <th>port 22</th> 
    <th>port 23</th> 
  </tr> 
  <tr> 
    <td>SRX-A1</td>
		 {% for n in myList %}
		<td BGCOLOR="#{{ n }}"></td>
		   {% endfor %}
	</tr>	
    <td>SRX-A2</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>EX-A1</td>
		 {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>EX-A2</td>
		 {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-A3</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-A4</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-B1</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-B2</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr>
	<td>EX-B1</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
	</tr>
	<tr>	
    <td>EX-B2</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
   <tr> 
    <td>SRX-B3</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-B4</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-C1</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-C2</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>EX-C1</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>EX-C2</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
   <tr> 
    <td>SRX-C3</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-C4</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
   <tr> 
    <td>SRX-D1</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-D2</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>EX-D1</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>EX-D2</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
   <tr> 
    <td>SRX-D3</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
  <tr> 
    <td>SRX-D4</td>
		  {% for n in myList %}
		<td BGCOLOR="#{ n }"></td>
		   {% endfor %}
  </tr> 
</table> 
</BODY> 
</HTML>
